# IntelliJ IDEA
.idea/
*.iml

# Node.js
node_modules/
.env

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user

# General
.DS_Store
*.log
*.tmp
*.svg
*.zip

# Build artifacts
dist/
build/